<html>
    <head>
        <title>Home - Car Websites</title>
        <link rel="stylesheet" type="text/css" href="static/Css/Style.css"/>
    </head>
    <body>
        <center>
            <h1>Welcome to Car Websites!</h1>
        </center>
        <center>
            <img src="static/Images/car1.jpg" width="55%" height="45%"/>
        </center>
            <h2>List of Cars:</h2>
            <h4>Select any car from the below listed cars to visit their official websites.</h4>
            <a href="https://www.mercedes-benz.co.in/passengercars.html?group=all&subgroup=see-all&view=BODYTYPE"><button class="btn"> - Visit Mercedes</button></a><br>
            <a href="https://www.bmw.in/en/index.html"><button class="btn"> - Visit BMW</button></a><br>
            <a href="https://www.audi.in/in/web/en.html"><button class="btn"> - Visit Audi</button></a><br>
            <a href="https://www.renault.co.in/"><button class="btn"> - Visit Renault</button></a><br>
            <a href="https://www.skoda-auto.co.in/"><button class="btn"> - Visit Skoda</button></a><br>
    </body>
</html>